---
layout: default
title: Members
group: navigation
portfolio:
  - image_path: /images/galleries/crabs/logo_scuba_inv.png
    name: S. Cuba
    text: Dry, dryer, S. Cuba
  - image_path: /images/galleries/crabs/logo_flote_inv.png
    name: Flötet
    text: Maximum boyancey, maximum lead
  - image_path: /images/galleries/crabs/logo_rens_inv.png
    name: Renset
    text: Tastes as well as he smells
  - image_path: /images/galleries/crabs/logo_sjo_inv.png
    name: Sjö
    text: Step on me is a step to far
  - image_path: /images/galleries/crabs/logo_snork_inv.png
    name: Snork
    text: No bottle no problem
---

{% include JB/setup %}
{% include galheader.html %}

<div class="row no-gutter">
  <section class="bg-dark">
    <div class="text-center">
      <h1>Portfolio</h1>
    </div>
  </section>
</div>

    <div class="row no-gutter">
      <section class="no-padding" id="portfolio">

      {% for item in page.portfolio %}
      <div class="col-lg-4 col-sm-6">
        <a href="{{ item.url }}" class="portfolio-box">
          <a href="{{ item.image_path}}" data-lightbox="portfolio" title="{{ image.text }}">
            <img src="{{ item.image_path }}" class="thumbnail image-rounded" width="150 px" height="150px" />
          </a>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                <strong>{{ item.name }}</strong>
              </div>
              <div class="project-category text-faded">
                {{ item.text }}
              </div>
            </div>
          </div>
        </a>

        <table class="table table-condensed">
          <tbody>
            <tr>
              <td class="active">key</td>
              <td>value</td>
            </tr>
            <tr>
              <td class="active">key</td>
              <td>value</td>
            </tr>
            <tr>
              <td class="active">key</td>
              <td>value</td>
            </tr>
          </tbody>
        </table>

      </div>
      {% endfor %}
    </section>

    </div>
